{% extends "wellhead/base.html" %}

{% load tethys_gizmos %}

{% load staticfiles %}

{% block app_navigation_items %}
  {% csrf_token %}

{% endblock %}

{% block app_content %}

  {{ block.super }}

  <table class="table table-hover table-striped" id="user-models">
    <tr>
      <th>Model Name</th>
      <th>Date Saved</th>
    </tr>
  </table>

  <table class="table table-hover table-striped" id="example-models">
    <tr>
      <th>Model Name</th>
      <th>Date Saved</th>
    </tr>
  </table>

{% endblock %}

{% block app_actions %}
  <a id="delete" class="btn btn-danger" onclick="return delete_selected_model();">Delete</a>
  <a id="duplicate" class="btn btn-default" onclick="duplicate_selected_model();">Duplicate</a>
  <a id="open" class="btn btn-default" href="{% url 'wellhead:map' %}" onclick="return open_selected_model();">Open</a>
  <a id="new" class="btn btn-default" href="{% url 'wellhead:map' %}" onclick="sessionStorage.clear();">New</a>

{% endblock %}
