{% extends "wellhead/base.html" %}

{% load tethys_gizmos %}

{% load staticfiles %}

{% block app_navigation_items %}
  {% csrf_token %}
  <b>Table of Contents</b>
  <div id="toc-layers">
    <ul id="toc-layers-list" class="ui-sortable">
      <li class="ui-state-default"
          data-layer-index="3"
          data-layer-id="hydroshare_gis_testing:gis_79283bfd563f48fca8ab44869ef48f93"
          data-res-id="79283bfd563f48fca8ab44869ef48f93"
          data-res-type="GeographicFeatureResource"
          data-geom-type="polygon"
          data-public-fname="undefined"
          data-layer-attributes="DRAINTYPE,BASINID,BASINAREA,BASINSLOP,MFDIST,MFDSLOPE,CENTDIST,CENTOUT,SLCENTOUT,
          PSOUTH,PNORTH,MSTDIST,MSTSLOPE,BASINLEN,SHAPEFACT,SINUOSITY,PERIMETER,MEANELEV,CENTROIDX,CENTROIDY,BASINNAME,
          LAGTIME,TC,CN,IA,DTHETA,PSIF,XKSAT,RTIMP,ADJSLOPE,CLARKR,PRECIP,LA_LATERAL,LA_LOC,LA_RAIND,LA_TC,LA_IMPRV,
          LA_SOIL,LA_HYDROG,HYDROVOL,HYDROTP,HYDROPEAK,HYDROACFT,HYDROACFPS,HYDROINCH"
          data-band-variable="undefined"
          data-band-units="undefined"
          data-band-min="undefined"
          data-band-max="undefined"
          data-band-nd="undefined">
        <input class="chkbx-layer" type="checkbox">
        <span class="layer-name">Animas River Watershed (Durango, CO)</span>
        <input type="text" class="edit-layer-name hidden" value="Animas River Watershed (Durango, CO)">
        <div class="hmbrgr-div">
          <img src="{% static 'wellhead/images/hamburger-menu.png' %}" class="iw-mTrigger">
        </div>
      </li>
    </ul>
    <div id="div-loading-mask"></div>
    <div id="div-loading" class="hidden">
      <img src="{% static tethys_app.ajax_loader_transparent %}">
    </div>
  </div>
{% endblock %}

{% block app_content %}

  {% gizmo map_view map_view_options %}

{% endblock %}

{% block app_actions %}
  <a href="" class="btn btn-default">Next</a>
  <a href="" class="btn btn-default">Back</a>
{% endblock %}
