{% extends "wellhead/base.html" %}

{% load tethys_gizmos %}

{% load staticfiles %}

{% block app_navigation_items %}
  {% csrf_token %}
  <div class="btn-group">
    <a class="btn btn-primary" href="{% url 'wellhead:home' %}">Home</a>
    <button id="modelSaveAs" class="btn btn-primary" type="button" onclick="save_model_as();">Save As</button>
    <button id="modelSave" class="btn btn-primary" type="button" onclick="save_model();">Save</button>
  </div>

  <p><br /></p>

  <b>Table of Contents</b>
  <div id="toc-layers">
    <ul id="toc-layers-list" class="ui-sortable"></ul>
  </div>
  <a id="solve" class="btn btn-success" onclick="timml_solution();">Solve</a>

  <div id="loading" class="load">
      <img id="loading-image" class=""
      src="{% static 'wellhead/images/ajax-loader-transparent.gif' %}"
      alt="Loading..."/>
  </div>

{% endblock %}

{% block app_content %}

  {{ block.super }}

  {% gizmo map_view map_view_options %}

  <!--Add Attribute Table here, to be appended to golden layout window after html render-->
  <table class="table table-striped" id="attr-table">
    <tbody><tr><td class="" align="center">Please click on a layer in the Table of Contents to display attribute table</td></tr></tbody>
  </table>

{% endblock %}

{% block app_actions %}
  <a id="editCancel" class="btn btn-default hidden" onclick="onClickCancelEdits();">Cancel</a>
  <a id="editSave" class="btn btn-default hidden" onclick="onClickSaveEdits();">Save</a>

{% endblock %}
